In [3]:
# imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# print current working directory
import os
print(os.getcwd())

/Users/frankzhu/Downloads

In [5]:
# read data from csv file, one named tracks_features.csv and the other named artists.csv
tracks_features = pd.read_csv('tracks_features.csv')

In [5]:
artists = pd.read_csv('artists_raw.csv')

In [6]:
# rename artist column in tracks_features to artist_name, and artist_mb column in artists to artist_name
tracks_features = tracks_features.rename(columns={'artists': 'artist_name'})
artists = artists.rename(columns={'artist_mb': 'artist_name'})

# get rid of the " [' " in the beginning and end of the artist_name column in tracks_features
tracks_features['artist_name'] = tracks_features['artist_name'].str[2:-2]

In [7]:
tracks_features.head()

,id,name,album,album_id,artist_name,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,Rage Against The Machine,['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,Rage Against The Machine,['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,Rage Against The Machine,['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,Rage Against The Machine,['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,Rage Against The Machine,['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

In [8]:
tracks_features.count()

id                  1204025
name                1204025
album               1204025
album_id            1204025
artist_name         1204025
artist_ids          1204025
track_number        1204025
disc_number         1204025
explicit            1204025
danceability        1204025
energy              1204025
key                 1204025
loudness            1204025
mode                1204025
speechiness         1204025
acousticness        1204025
instrumentalness    1204025
liveness            1204025
valence             1204025
tempo               1204025
duration_ms         1204025
time_signature      1204025
year                1204025
release_date        1204025
dtype: int64

In [4]:
# merge tracks_features and artists on artist_name, there shouldn't be more rows than tracks_features
# LEFT INNER JOIN, NOT LEFT OUTER JOIN
tracks_features_cleaned = pd.merge(tracks_features, artists, on='artist_name', how='inner')

NameError: name 'tracks_features' is not defined

In [ ]:
tracks_features_cleaned.count()

id                  34988042
name                34988042
album               34988042
album_id            34988042
artist_name         34988042
artist_ids_x        34988042
track_number        34988042
disc_number         34988042
explicit            34988042
danceability        34988042
energy              34988042
key                 34988042
loudness            34988042
mode                34988042
speechiness         34988042
acousticness        34988042
instrumentalness    34988042
liveness            34988042
valence             34988042
tempo               34988042
duration_ms         34988042
time_signature      34988042
year                34988042
release_date        34988042
artist_ids_y        34988042
country_mb          34988042
tags_mb             34988042
tags_lastfm         34988042
dtype: int64

In [91]:
# only keep the columns we need: artist_id, artist_name, country_mb, tags_mb, tags_lastfm
tracks_features_cleaned = tracks_features_cleaned[['artist_ids_x', 'artist_name', 'country_mb', 'tags_mb', 'tags_lastfm']]
tracks_features_cleaned.head()

,artist_ids_x,artist_name,country_mb,tags_mb,tags_lastfm
0,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
1,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
2,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
3,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
4,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...

In [92]:
# view the size of the dataframe
tracks_features_cleaned.head()
# count NaN values in each column
tracks_features_cleaned.isnull().sum()
# count length of each column
tracks_features_cleaned.count()

artist_ids_x    34988042
artist_name     34988042
country_mb      34988042
tags_mb         34988042
tags_lastfm     34988042
dtype: int64

In [93]:
tracks_features.count()

id                  1204025
name                1204025
album               1204025
album_id            1204025
artist_name         1204025
artist_ids          1204025
track_number        1204025
disc_number         1204025
explicit            1204025
danceability        1204025
energy              1204025
key                 1204025
loudness            1204025
mode                1204025
speechiness         1204025
acousticness        1204025
instrumentalness    1204025
liveness            1204025
valence             1204025
tempo               1204025
duration_ms         1204025
time_signature      1204025
year                1204025
release_date        1204025
dtype: int64

In [94]:
# rename the columns
tracks_features_cleaned_renamed = tracks_features_cleaned.rename(columns={'artist_ids_x': 'artist_id', 'country_mb': 'artist_country', 'tags_mb': 'genre1', 'tags_lastfm': 'genre2'})

In [95]:
tracks_features_cleaned_renamed.head()

,artist_id,artist_name,artist_country,genre1,genre2
0,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
1,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
2,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
3,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...
4,['2U6gqwyl9F33YxawnFrZG7'],Will Young,United Kingdom,british; uk; english; pop and chart,pop; british; male vocalists; singer-songwrite...

In [96]:
# export to csv file
# tracks_features_cleaned_renamed.to_csv('Artists.csv', index=False)